#projects {
    padding: 8rem 15rem;
    text-align: center;
    background: linear-gradient(135deg, #ffffff, #00ffff8d);
    color: #002147;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  .experience-details-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .about-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .details-container {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    border: 1px solid rgb(163, 163, 163);
  }
  
  .color-container {
    border-left: 5px solid #00b7ff;
  }
  
  .experience-sub-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: black;
  }
  
  .sign {
    font-size: 1rem;
    color: #00b7ff;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    padding: 0.5rem 1.5rem;
    background-color: #00b7ff;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0000FF;
    transform: translateY(-3px);
  }
  
  @media (max-width: 1024px) {
    #projects {
      padding: 4rem 5rem;
    }
  }
  
  @media (max-width: 768px) {
    #projects {
      padding: 4rem 2rem;
    }
    .experience-details-container {
      flex-direction: column;
    }
    .details-container {
      width: 100%;
    }
  }
  